@media screen and (min-width: 500px) {
  .game-container .box-container.easy {
    width: 85%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 175px;
    height: 175px;
  }
}
@media screen and (min-width: 726px) {
  .game-container .box-container.easy {
    width: 75%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 185px;
    height: 185px;
  }
}
@media screen and (min-width: 860px) {
  .game-container .box-container.easy {
    width: 65%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 200px;
    height: 200px;
    margin: 25px;
  }
}
@media screen and (min-width: 1150px) {
  .game-container .box-container.easy {
    width: 50%;
    max-width: 770px;
  }
  .game-container .box-container.easy .box-container__box {
    width: 200px;
    height: 200px;
    margin: 30px;
  }
}