.game {
  display: none;
  background-color: $black;
  height: 100vh;

  &-header {
    &__text {
      margin: 30px 0 10px;
    }

    &__message{
      margin: 0 0 15px;
      height: 1rem;
    }
  }
}

.game-container {
  @extend %flex-shared;
  height: 470px;

  .box-container {
    @extend %flex-shared;
    width: 100%;
    flex-wrap: wrap;

    &__box {
      width: 150px;
      height: 150px;
      margin: 15px;
      border-radius: 20px;
    }

    &__box.purple {
      background-color: $purple;
    }

    &__box.yellow {
      background-color: $yellow;
    }

    &__box.blue {
      background-color: $blue;
    }

    &__box.pink {
      background-color: $pink;
    }

    &__box.orange {
      background-color: #ff8800;
    }

    &__box.lime {
      background-color: $green;
    }

    &__box.flash {
      background-color: #fff;
    }
  }
}

.game-over {
  animation: toGreyscale 1s;
  filter: grayscale(100%);
  color: #464545;
}

.game-over-heading{
  display: none;
  position: absolute;
  z-index: 1;
  animation: fadeIn 1s;
}

@keyframes toGreyscale {
  0%    { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
  25%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  100%  { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}