.start {
  @extend %flex-shared;
  flex-direction: column;
  background-color: $green;
  height: 100%;

  &__text {
    width: 80%;
  }
}

@media screen and (min-width: 744px) {
  .start {
    &__text {
      width: 50%;
    }
  }
}