@import url('https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:wght@300;400&family=Pacifico&display=swap');

// Fonts
$heading-font: 'Pacifico', cursive;
$body-font: 'Montserrat', sans-serif;
$bold-font: 'Chango', cursive;

// Colors
$purple: #340285;
$pink: #b31e77;
$yellow: #fabb4f;
$blue: #55b3b1;
$green: #9ed359;
$black: #111111;
$grey: #c0c0c0;
$white: #fdf2f2;