.start__button {
  padding: 10px 30px;
  margin: 30px;
  border: none;
  border-radius: 12px;
}
.start__button#easy {
  background-color: hotpink;
}
.start__button#hard {
  background-color: orange;
}