.start {
  &__button {
    padding: 10px 30px;
    margin: 30px;
    border: none;
    border-radius: 12px;
    // box-shadow: 2px 4px;

    &#easy {
      background-color: #ff69b4;

      &:hover {
        background-color: $black;
        color: #ffa500;
      }
    }

    &#hard {
      background-color: #ffa500;

      &:hover {
        background-color: $black;
        color: #ff69b4;
      }
    }
  }
}