@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:wght@400;500&family=Pacifico&display=swap");
.game-container .box-container, .game-container, .start__details, .start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header__heading, .start__heading {
  font-family: "Pacifico", cursive;
  font-size: 60px;
}

.blue, .pink {
  padding: 2px;
  text-transform: uppercase;
  color: #fdf2f2;
  font-weight: 500;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #111111;
  height: 100vh;
}

p {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  line-height: 1.6;
}

button {
  font-size: 1.6rem;
  font-family: "Pacifico", cursive;
  text-transform: lowercase;
}

.pink {
  background-color: #b31e77;
}

.blue {
  background-color: #55b3b1;
}

.start__heading {
  font-size: 5rem;
  color: #111111;
  text-shadow: 0.2px 0.2px 0px #131313, 2px 2px 0px #eb2b6b, 3px 3px 0px #fabb4f, 4px 4px 0px #55b3b1, 5px 5px 0px #017e7f, 6px 6px 0px #052939, 7px 7px 0px #6238fa, 8px 8px 0px #b31e77, 9px 9px 0px #b31e77, 10px 10px 0px #eb2b6b;
}
.start__details summary {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #111111;
}
.start__details summary:hover {
  color: #fdf2f2;
}
.start__hover-text {
  font-size: 0.8rem;
  font-style: italic;
  height: 1rem;
}

.game-header__heading {
  color: #fdf2f2;
  text-shadow: 0.2px 0.2px 0px #131313, 2px 2px 0px #eb2b6b, 3px 3px 0px #fabb4f, 4px 4px 0px #55b3b1, 5px 5px 0px #017e7f, 6px 6px 0px #052939, 7px 7px 0px #6238fa, 8px 8px 0px #b31e77, 9px 9px 0px #b31e77, 10px 10px 0px #eb2b6b;
}
.game-header__text {
  color: #fdf2f2;
  font-weight: 500;
}
.game-header__message {
  color: #a7d46c;
  font-size: 0.8rem;
  font-style: italic;
}

.game-over-heading {
  font-size: 6rem;
  font-family: "Bungee Inline", cursive;
  text-transform: uppercase;
  color: #fdf2f2;
}

@media screen and (min-width: 744px) {
  .start__heading {
    font-size: 7rem;
    text-shadow: 0.2px 0.2px 0px #131313, 3px 3px 0px #eb2b6b, 5px 5px 0px #fabb4f, 7px 7px 0px #55b3b1, 9px 9px 0px #017e7f, 11px 11px 0px #052939, 13px 13px 0px #6238fa, 15px 15px 0px #b31e77, 17px 17px 0px #b31e77, 19px 19px 0px #eb2b6b;
  }
}
@media screen and (min-width: 900px) {
  .start__heading {
    font-size: 10rem;
    text-shadow: 0.2px 0.2px 0px #131313, 5px 5px 0px #eb2b6b, 7px 7px 0px #fabb4f, 9px 9px 0px #55b3b1, 11px 11px 0px #017e7f, 13px 13px 0px #052939, 15px 15px 0px #6238fa, 17px 17px 0px #b31e77, 19px 19px 0px #b31e77, 21px 21px 0px #eb2b6b;
  }
}
.start__button {
  padding: 10px 30px;
  margin: 30px;
  border: none;
  border-radius: 12px;
}
.start__button#easy {
  background-color: #ff69b4;
}
.start__button#easy:hover {
  background-color: #111111;
  color: #ffa500;
}
.start__button#hard {
  background-color: #ffa500;
}
.start__button#hard:hover {
  background-color: #111111;
  color: #ff69b4;
}

.start {
  flex-direction: column;
  background-color: #a7d46c;
  height: 100vh;
}
.start__heading {
  margin: 40px 0;
}
.start__details {
  flex-direction: column;
  width: 80%;
}
.start__details summary {
  margin: 20px;
}

@media screen and (min-width: 744px) {
  .start__details {
    width: 30%;
  }
}
.game {
  display: none;
  background-color: #111111;
  height: 100vh;
}
.game-header__text {
  margin: 30px 0 10px;
}
.game-header__message {
  margin: 0 0 15px;
  height: 1rem;
}

.game-container {
  height: 470px;
}
.game-container .box-container {
  width: 100%;
  flex-wrap: wrap;
}
.game-container .box-container__box {
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 20px;
}
.game-container .box-container__box.purple {
  background-color: #340285;
}
.game-container .box-container__box.yellow {
  background-color: #fabb4f;
}
.game-container .box-container__box.blue {
  background-color: #55b3b1;
}
.game-container .box-container__box.pink {
  background-color: #b31e77;
}
.game-container .box-container__box.orange {
  background-color: #ff8800;
}
.game-container .box-container__box.lime {
  background-color: #a7d46c;
}
.game-container .box-container__box.flash {
  background-color: #fff;
}

.game-over {
  animation: toGreyscale 1s;
  filter: grayscale(100%);
  color: #464545;
}

.game-over-heading {
  display: none;
  position: absolute;
  z-index: 1;
  animation: fadeIn 1s;
}

@keyframes toGreyscale {
  0% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  25% {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }
  50% {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  75% {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
  }
  100% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 500px) {
  .game-container .box-container.easy {
    width: 85%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 175px;
    height: 175px;
  }
}
@media screen and (min-width: 726px) {
  .game-container .box-container.easy {
    width: 75%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 185px;
    height: 185px;
  }
}
@media screen and (min-width: 860px) {
  .game-container .box-container.easy {
    width: 65%;
  }
  .game-container .box-container.easy .box-container__box {
    width: 200px;
    height: 200px;
    margin: 25px;
  }
}
@media screen and (min-width: 1150px) {
  .game-container .box-container.easy {
    width: 50%;
    max-width: 770px;
  }
  .game-container .box-container.easy .box-container__box {
    width: 200px;
    height: 200px;
    margin: 30px;
  }
}
.game-container .box-container.hard .box-container__box {
  width: 140px;
  height: 140px;
}

@media screen and (min-width: 500px) {
  .game-container .box-container.hard {
    width: 80%;
  }
  .game-container .box-container.hard .box-container__box {
    width: 145px;
    height: 145px;
    margin: 10px;
  }
}
@media screen and (min-width: 808px) {
  .game-container .box-container.hard .box-container__box {
    width: 185px;
    height: 185px;
  }
}
@media screen and (min-width: 1024px) {
  .game-container .box-container.hard .box-container__box {
    width: 200px;
    height: 200px;
    margin: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .game-container .box-container.hard {
    width: 70%;
    max-width: 1030px;
  }
}